{
  "username": "<UUID aus /register>",
  "password": "<password aus /register>",
  "subdomain": "<subdomain aus /register>",
  "fulldomain": "<fulldomain aus /register>",
  "server_url": "http://acme_dns:80"
}
